<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Admin Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #f0f6fc; color: #333;">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="profile-nav col-md-3">
                <div class="panel" style="background-color: #fff; border-radius: 8px; padding: 15px;">
                    <div class="user-heading round">
                        <a href="#">
                        <img src="http://localhost:3300/images/Logo.png" alt="Profile Picture">
                        </a>
                        <h1 style="color: #0366d6;"><%=name%></h1>
                        <p style="color: #0366d6;">admin@gmail.com</p>
                    </div>
                    <ul class="nav nav-pills nav-stacked">
                      <!----  <li class="active"><a href="/admin/details" style="color: #ffffff;"> <i class="fa fa-user"></i> User Profiles</a></li>-->
                        <li class="active"><a href="/admin/cdetails" style="color: #ffffff;"> <i class="fa fa-user"></i> Add Company Details</a></li>
                       <!------ <li class="active"><a href="login.html" style="color: #ffffff;"> <i class="fa fa-sign-out"></i> Log Out</a></li>---->
                        <!---<li class="active"><a href="/users" style="color: #0366d6;"> <i class="fa fa-users"></i> User Info</a></li>--->
                        <br>
                        <li class="active">
                           
                        </li>
                    </ul>
                </div>
            </div>
            <div class="profile-info col-md-9">
                <div class="panel" style="background-color: #fff; border-radius: 8px; padding: 20px; margin: 20px;">
                    <div class="bio-graph-heading" style="color: #0366d6;">
                        <%=name%>
                    </div>
                    <div class="panel-body bio-graph-info">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

   <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        
    </script>
</body>
</html>
