<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sender</title>
</head>
<body>
    <h1><%=name%></h1>
    <p><%=email%></p>
    <form action='/users/send-email' method='post'>
    <input type="hidden" name="userEmail" value="<%=email%>">
    <button id="sendEmailBtn">Send Email</button>
</form>
    

   
</body>
</html>
